@import 'o-fonts/main';
@import 'o-colors/main';
@import 'o-footer/main';
@import 'o-grid/main';

@import 'fonts';


body {
  @include oColorsFor(page, background);

  margin: 0;
  border: 0;
  font-family: oFontsGetFontFamilyWithFallbacks(MetricWeb);

  main {
    @include oGridColspan((default: full-width, M: 10, L: 8));
    @include oGridCenter;
    padding: 0 15px;
  }
}


.site-header {
  padding: 18px 0 14px;
  text-align: center;
  border-bottom: 1px solid #e9decf;

  > a {
    opacity: 0.75;
    &:hover { opacity: 1; }
  }
}
    .masthead {
      height: 18px;
    }

h1 {
  font-family: MetricWeb;
  font-weight: 200;
  text-align: center;
  font-size: 4em;
  line-height: 1.4em;
  margin: 0px;
  color: #000000;
  a {color: #000000;;
    text-decoration: none}
}

.subheader {
  width: 100%;
  font-family: MetricWeb;
  font-size: 1.8em;
  line-height: 1.1em;
  text-align: center;
  margin-top: 2px;
  color: #6a6d68;
}

.headshot {
   img {width: 170px;
    display: block;
    margin: 0 auto;}
}

.line {
  margin-top: 5px;
  border-bottom: 1px solid #e9decf;
}

@include oGridRespondTo(S) {
  .headshot {
    img {
      width: 154px;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  h1 {
  text-align: left;
  text-decoration: none;
  }
  .subheader {
  text-align: left;
  width: 75%;
  }
}

@include oGridRespondTo(L) {
  .headshot {
    img {
      width: 154px;
    }
  }
}

@include oGridRespondTo(XL) {
  .headshot {
    img {
      width: 122px;
    }
  }
}

.formHead{
  font-family: MetricWeb;
  text-align: left;
  font-size: 1.4em;
  line-height: 1.2em;
  color: #6a6d68;
  margin-top: 15px;
}

.mail{
  font-family: MetricWeb;
  text-align: left;
  font-size: 1em;
  line-height: 1em;
  color: #6a6d68;
  a {
    color: #000000;;
    text-decoration: none
  }
}

.agree[type=checkbox] {
  width: 24px;
  height: 24px;
  z-index: 1;
}

.o-forms-label {
  font-family: MetricWeb;
  text-align: left;
  font-size: 1.4em;
  line-height: 1.2em;
  font-weight: 400;
  color: #6a6d68;
  margin-top: 10px;
}

.o-forms-label[for=agree] {
  z-index: 0;

}

.o-forms-errortext {
  display: none;
}

.required {
  color: #d12229;
  font-style: italic;
}
