@import 'o-fonts/main';
@import 'o-colors/main';
@import 'o-footer/main';

@import 'fonts';


body {
  @include oColorsFor(page, background);

  margin: 0;
  border: 0;
  font-family: oFontsGetFontFamilyWithFallbacks(MetricWeb);

  main {
    padding: 0 15px 0 15px;
  }
}


.site-header {
  padding: 18px 0 14px;
  text-align: center;
  border-bottom: 1px solid #e9decf;

  > a {
    opacity: 0.75;
    &:hover { opacity: 1; }
  }
}
    .masthead {
      max-width: 600px;
      width: 100%;
    }

.agree[type=checkbox] {
  width: 24px;
  height: 24px;
  z-index: 1;
}

.o-forms-label[for=agree] {
  z-index: 0;
}

.o-forms-errortext {
  display: none;
}

.required {
  color: #D12229;
  font-style: italic;
}